body {
    margin: 0;
    padding: 0;
}

#container {
    font-family: 'Courier New', Courier, monospace;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    font-size: 2.5em;
    font-weight: 700;
    height: 100%;
    margin-bottom: 3%;
    background-image: linear-gradient(36deg, rgba(74,58,180,1) 0%, rgba(29,173,253,1) 50%, rgba(74,58,180,1) 100%);
    color: white;
}

.header p {
    text-align: center;
}

.header img {
    height: 2em;
    width: 2em;
}

.form .subheading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75em;
}

.form form {
    display: flex;
    justify-content: center;
    gap: 2vw;
    align-items: center;
    padding-bottom: 1%;
    padding-top: 1%;
    font-weight: 700;
}

.form-wrapper {
    display: flex;
}

.form .button-div {
    display: flex;
    justify-content: center;
}

.form {
    margin-bottom: 3%;
}

#weather {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 7%;
    height: 100%;
}

#weather .current {
    margin-top: 1%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(5, 1fr);
    gap: calc((100vh + 100vw)/2 * 0.02);
    width: 55%;
    margin: 0 auto;
}

#img-section {
    grid-area: 1/1/4/2;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#img-section img {
    height: 100%;
    width: 100%;
}

#place {
    grid-area: 1/2/2/3;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
}

#datetime {
    grid-area: 2/2/3/3;
    text-align: center;
}

#temp {
    grid-area: 3/2/4/3;
    display: flex;
    justify-content: space-evenly;
    gap: 5%;
    text-align: center;
}

#conditions {
    grid-area: 5/1/6/3;
}

#humidity {
    grid-area: 4/1/5/3;
}

#weather .week {
    padding-top: 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 6fr));
    gap: 10px;
    width: 55%;
    margin: 0 auto;
}

div.day {
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: calc((100vh + 100vw)/2 * 0.02);;
}

div.day div:first-child {
    font-weight: 700;
}

button {
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 12px;
    background-color: rgb(55, 108, 206);
    color: white;
}

button:hover {
    background-color: rgb(110, 151, 228);
}

button:active {
    background-color: rgb(43, 81, 150);
}

#credits {
    background-image: linear-gradient(36deg, rgba(74,58,180,1) 0%, rgba(29,173,253,1) 50%, rgba(74,58,180,1) 100%);
    display: flex;
    justify-content: center;
    gap: 1vw;
    padding: 0.75%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#credits a img {
    height: 40px;
    width: 40px;
}